<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=python&amp;skin=sunburst"></script>
<pre class="prettyprint lang-py">
import numpy as np
from scipy.stats import multivariate_normal
from skimage import io
import matplotlib.pyplot as plt
                                            
arr_duck = np.array(io.imread("duck.jpg"), dtype=np.uint8)
arr_duck_p = np.array(io.imread("duckP.jpg"), dtype=np.uint8)
arr_duck_n = np.array(io.imread("duckN.jpg"), dtype=np.uint8)
proba_map_result = np.zeros(arr_duck.shape, dtype=np.uint8)
</pre>